.container-fluid {
  padding: 0;
}

.trailer-card {
  border: 1px solid #eccc6c;
  padding: 2px;
}

.trailers {
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.4));
  overflow-y: scroll;
  overflow-x: hidden;
}

.btn-trailer {
  border: 1px solid #eccc6c;
  color: #eccc6c;
  width: 100%;
  border-radius: 0;
}

@media (max-width: 768px) { 
  .trailers {
    height: calc(100vh - 5rem);
  }

  .btn-trailer {
   width: 6rem;
  }
}